<div class="panel panel-default">
  <div class="panel-heading">
    <h5>Number of items in cart: <span class="badge">{{products.length}}</span></h5>
  </div>
  <div class="panel-body">
    <span *ngIf="products.length===0; else cartElse">There are no items</span>
    <ng-template #cartElse>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let product of products">
              <app-cart-item          
                [product]="product"
                (remove)="fromProductChild($event)"
              ></app-cart-item>
            </li>
          </ul>
    </ng-template>    
  </div>
  <div class="panel-footer">
      <h5>Total Count: {{getTotalPrice()}}$</h5>
  </div>
</div>
