<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="clearfix">
      <span class="pull-left">
          Number of items in cart: 
          <span class="badge">{{cartService.products.length}}</span>
      </span>
      <a *ngIf="cartService.products.length !== 0" class="pull-right" (click)="removeAll()">remove all</a>
    </h5>
  </div>
  <div class="panel-body">
    <span *ngIf="cartService.products.length === 0; else cartElse">There are no items</span>
    <ng-template #cartElse>
      <div class="text-right">
        sorting by:
        <div class="btn-group sorting-group" role="group" (click)="setOrdering($event)">
          <button type="button" class="btn"
              *ngFor="let key of getKeys()"
              [class.active]="orderMap.key === key"
              value='{{key}}'>{{key | i18nSelect: productMap}}
          </button>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let product of (cartService.products | orderBy: orderMap.key: orderMap.direction)">
          <app-cart-item   
            [product]="product"
            (remove)="fromProductChild($event)"
          ></app-cart-item>
        </li>
      </ul>
    </ng-template>    
  </div>
  <div class="panel-footer text-right">
      <h5 [style.font-size.px]="18" [style.font-weight]="'bold'">All Total: {{getTotalPrice() | currency}}</h5>
  </div>
  <div class="panel-footer text-right" *ngIf="cartService.products.length !== 0">
    <button class="btn btn-green" type="button" (click)="proceed($event)">Proceed</button>
  </div>
</div>
