<table class="table" [ngClass]="setClasses()" appHighlightBorder="orange" color="yellow">
  <thead>
    <tr>
      <th>Product name &amp; details</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4" class="text-right">
          <h5>Total: <span [style.font-weight]="'bold'" [style.color]="'orange'">{{getTotal() | currency}}</span></h5>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>
        <p class="list-group-item-heading">
          <a>{{product.name}}</a>
        </p>
        <p class="list-group-item-text" [ngStyle]="setStyles()">
            {{product.description}}
        </p>
      </td>
      <td>
        <input type="number" class="form-control" min="0" [(ngModel)]="product.clickedCount">
        <small [ngStyle]="setStyles()">piece</small>
      </td>
      <td [style.font-weight]="'bold'">
        {{product.price | currency}}
      </td>
      <td class="text-right">
        <a [style.color]="'orange'" (click)="onRemove($event)">remove</a>
      </td>
    </tr>
  </tbody>
</table>