<div class="clearfix" [ngStyle]="setStyles()" [ngClass]="setClasses()" appHighlightBorder="green" color="yellow">
  <div class="pull-left">
      <p class="list-group-item-heading">
          Category: <a><small>{{product.category.toString()}}</small></a>;&nbsp;&nbsp;
          Name: <a><small>{{product.name}}</small></a>
        </p>
        <p class="list-group-item-text"  [style.color]="'orange'">Description: {{product.description}}</p>
        <p>
          Price: <small>{{product.price | currency}}</small>;&nbsp;&nbsp;
          Count: <input 
                    type="number" 
                    name="quantity" 
                    min="0" 
                    [max]="product.totalAmount" 
                    [ngModel]="product.count"
                    (change)="onChange($event)"
                  >
        </p>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-default" aria-label="Left Align" (click)="onRemoveAll($event)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
</div>