<ng-container *ngIf="products | async as result">
  <div class="card">
    <div class="card-header">
      Number of available products: <span class="badge badge-secondary">{{result.length}}</span>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let product of result">
        <app-product
          [product]="product"
          (buy)="move($event)"
          (view)="navigate($event)"
        ></app-product>
      </li>
    </ul>
  </div>
</ng-container>