<div class="clearfix">
  <div class="pull-left">
      <p class="list-group-item-heading">
       <a>{{product.name | uppercase}}</a>
      </p>
      <p class="list-group-item-text">
        {{product.description | titlecase }}
      </p>
      <p class="list-group-item-bottom">
        <span class="bold">Price: {{product.price | currency}};</span>&nbsp;&nbsp;
        <span class="red">(only {{product.count}} pieces available)</span>        
      </p>
  </div>
  <div class="pull-right">
    <div class="input-group">
      <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="onBuy($event)" #buyButton>Add to Cart</button>
      </span>
      <input type="number" class="form-control" min="0" [max]="product.count" [(ngModel)]="product.clickedCount">
    </div>
  </div>
</div>