<div class="card">
  <div class="card-header">
    <a (click)="onView($event)">{{product.name | uppercase}}</a>
  </div>
  <div class="card-body">
    <p class="card-text">
      <span class="d-block">
          {{product.description | titlecase }}
      </span>
      <span class="d-block">
          <span class="font-weight-bold">Price: {{product.price | currency}};</span>&nbsp;&nbsp;
          <span class="text-danger">(only {{product.count}} pieces available)</span>
      </span>
    </p>
  </div>
  <div class="card-footer">
    <div class="input-group mb-3">
      <input type="number" class="form-control user-cliled-count" min="0" [max]="product.count" [(ngModel)]="product.clickedCount" [disabled]="isDisabled()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="onBuy($event)" #buyButton>Add to Cart</button>
      </div>
    </div>
  </div>
</div>